{# templates/home/index.html.twig #}
{% extends 'base.html.twig' %}

{% block title %}Bienvenue sur GSB Frais{% endblock %}

{% block body %}
    {{ form_start(form, {'attr': {'class': 'mb-4'}}) }}
    <div class="row align-items-end">
        <div class="col">
            {{ form_row(form.mois) }}
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-primary">Rechercher</button>
        </div>
    </div>
    {{ form_end(form) }}

    {% if ficheFrais is not null %}
        {% set ficheFrais = ficheFraisCollection[0] %}
        <h2 class="mt-4">Fiche de frais du mois de {{ ficheFrais.mois|date('m/Y') }}</h2>
        <table class="table">
            <thead>
            <tr>
                <th>Etat</th>
                <th>Date de modification</th>
                <th>Montant validé</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for ficheFrais in ficheFraisCollection %}
                <tr>
                    <td>{{ ficheFrais.etat.libelle }}</td>
                    <td>{{ ficheFrais.dateModif|date('d/m/Y') }}</td>
                    <td>{{ ficheFrais.montantValide|number_format(2, ',', ' ') }} €</td>
                    <td>
                        <a href="{{ path('fiche_frais_show', {'id': ficheFrais.id}) }}" class="btn btn-primary">Voir</a>
                        <a href="{{ path('fiche_frais_edit', {'id': ficheFrais.id}) }}" class="btn btn-secondary">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>Aucune fiche de frais trouvée pour le mois sélectionné.</p>
    {% endif %}
{% endblock %}